<md-toolbar color="primary">
  <img src="/assets/images/logo-xangle360-notext.png" class="logo-toolbar"><span>Xangle Cloner</span>
  <!-- <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button> -->
</md-toolbar>

<!-- <md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu> -->

<app-upload-image></app-upload-image>

<h2 *ngIf="cards.length === 0">Insert a SD Card to start!</h2>
<div *ngIf="cards.length > 0">
  <h2>Here are your sd cards: </h2>
  <!-- <button *ngIf="allDone()" (click)="ejectAll()">Eject all</button> -->
</div>

<div fxLayout="row wrap">
  <md-card fxFlex="10%" *ngFor = "let card of cards">
    <md-card-header>
      <md-card-title>{{ card.name }}</md-card-title>
      <md-card-subtitle>{{ card.percentage }}% <span *ngIf="card.done"> : Done!</span></md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <md-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="card.percentage">
        </md-progress-bar>
    </md-card-content>
    <!-- <md-card-footer>
      <p>{{ card.percentage }}%</p>
    </md-card-footer> -->
    <!-- <button (click)="eject(card.name)">Eject</button> -->
  </md-card>
</div>
