/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
.example-margin {
    margin: 0 10px;
}

body {
    background:#30384b;
    color: #98a6ad;
    padding: 20px;
}

* {
    font-family: Arial, Helvetica, sans-serif
}

.logo-toolbar {
    max-height: 64px;margin-right: 10px;
}

.mat-card {
   border: 2px solid rgba(238, 238, 238, 0.1);
}

.mat-toolbar {
    padding: 15px !important; 
}